<!DOCTYPE html>

<html lang="{{ language }}"> 
<head>
	<title>{{ title }}</title>
	<meta charset='UTF-8'>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Play EyeWire to map the 3D structure of neurons and contribute to revolutionary crowd-sourced scientific discovery from Seung Lab.">
	<meta property="og:image" content="http://eyewire.org/static/images/fblogo-large.png">
	<meta property="og:description" content="Play EyeWire to map the 3D structure of neurons and contribute to revolutionary crowd-sourced scientific discovery from Seung Lab.">

	<link rel="shortcut icon" sizes="16x16" href="favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" sizes="32x32" href="favicon32x32.png" type="image/png">
	<link rel="shortcut icon" sizes="64x64" href="favicon64x64.png" type="image/png">
	
	<link href="css/all.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Condensed:400,700|Vollkorn:400,400italic' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="js/intake.js"></script> 

	<script>
		var GLOBAL = {
			components: {},
			mode: '{{ mode }}', // 'login' or 'registration'
			takenusernames: {}, // cache for quick evaluation
			takenemails: {},
			registration: {
				lastclick: "standard" // for determining the action of the enter key
			}
		}; 
	</script>
</head>
<body>
	<section id="viewport" class="parallax">
		<div class="parallax-group">
			<div id="intake-logo" class="logo parallax-layer">
				<div class="bumper ">
					<div class="Es">
						<div class="E"></div>
						<div class="E E-right"></div>
					</div>
					<div class='dots'>
						<div class="dot dot-left"></div>
						<div class="dot dot-right"></div>
					</div>
				</div>
			</div>
			<div class="intake-front parallax-layer neuron-layer">
				<div class="left neuron"></div>
				<div class="right neuron"></div>
			</div>
			<div class="intake-middle parallax-layer neuron-layer">
				<div class="left neuron"></div>
				<div class="right neuron"></div>
			</div> 
			<div class="intake-rear parallax-layer neuron-layer">
				<div class="left neuron"></div>
			</div>
			<div class="intake-carpet parallax-layer neuron-layer">
				<div class="neuron"></div>
			</div> 
			<section id="gateway" class="gateway parallax-layer">
				
			</section> 
			<section id="intake" class="parallax-layer">
				
			</section>
			<section id="explore" class="parallax-layer">
				
			</section>
		</div>
	</section>
	<header id="header">
		
	</header>

	<div id="fb-root"></div>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId  : '311463508948902', // App ID
				status : true, // check login status
				cookie : true, // enable cookies to allow the server to access the session
				xfbml  : true,  // parse XFBML
				channel: '//eyewire.org/channel'
			});
		};

		// Load the SDK Asynchronously
		(function(d){
			var js;
			var id = 'facebook-jssdk';
			var ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) { return; }
			js = d.createElement('script'); 
			js.id = id; 
			js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));
	</script>
 </body>
 </html>