@require 'colors.styl'
@require 'mixins.styl'
@require 'animation.styl'

.module-font 
	font-family 'Roboto Condensed', 'Lucidia Grande', sans-serif
	font-weight 700

.amazing
	height 100%
	width 100%
	
	@extend .module-font
	
	display flex
	flex-direction column
	align-items center
	justify-content center
	
.amazing .animation
	height 100%
	z-index 0

$amazing_z = 1

.amazing .gif
	height 100%
	
.amazing .invisible
	opacity 0

.amazing .story-text
	text-transform uppercase
	color $TEXT_BLUE
	font-size 42px
	font-weight 700
	word-spacing 0px
	letter-spacing 2px
	line-height 1.35em
	text-align center
	white-space nowrap
	opacity: 0
	
	width 350px
	height auto

	position absolute
	bottom 15%
	
	z-index $amazing_z

	center-horizontal()
	
	transition opacity 1000ms ease
	
.super-text
	font-family 'Vollkorn', 'Roboto Condensed', 'Lucidia Grande', serif;
	font-weight 400
	color $TEXT_BLUE
	
	position absolute
	top -50px
	height 50px
	text-align center
	font-style italic
	text-transform lowercase
	letter-spacing 0px
	font-size 36px
	
	width 100%
	center-horizontal()

	z-index $amazing_z

.counter 
	display flex
	justify-content center
	align-items center
	flex-direction column
	
	background-color $ACCENT_YELLOW
	color $TEXT_BLUE
	border-radius 9px
	
	box-sizing border-box
	padding-left 5px
	
	width 50px
	height 20px
	
	font-size 6px
	letter-spacing 5px
	
	position absolute
	bottom -30px
	center-horizontal()
	
	z-index $amazing_z


.amazing .frame
	position absolute
	left -9999px
	right -9999px
	top -9999px
	bottom -9999px
	margin auto
	visibility hidden
	height 75%
	


// ---> Text Transition
	
.amazing .transition-none
	transition: none
	
.amazing .transition-state
	transition: all $SLOW ease-out
	
.amazing .transition-show
	opacity: 1

.amazing .fs-enter  // Fade + Slide Up
	margin-bottom: 15px

.amazing .fs-exit  // Fade + Slide Up
	margin-bottom: 35px
	
.amazing .fs-enter-reverse  // Fade + Slide Up
	margin-bottom: -15px

.amazing .fs-exit-reverse  // Fade + Slide Up
	margin-bottom: -35px
	

/*
 *	Media Queries
 */
 


// ---> Small Screen

/* ----------- Non-Retina Screens Horizontal ----------- */
@media screen and (min-width: 450px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	
	.amazing .super-text
		top -25px
		font-size 18px
	
		center-horizontal()
		
	.amazing .story-text
		font-size 24px
		width 350px
		
		center-horizontal()



/* ----------- Retina Screens Horizontal ----------- */
@media screen and (min-width: 450px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)

	.amazing .super-text
		top -25px
		font-size 18px
	
		center-horizontal()
		
	.amazing .story-text
		font-size 24px
		width 350px
		
/* ----------- Retina Screens Vertical ----------- */
@media screen and (min-height: 450px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)

	.amazing .super-text
		top -25px
		font-size 18px
	
		center-horizontal()
		
	.amazing .story-text
		font-size 24px




// ---> Medium Screen || iPad

/* ----------- Retina Screens Horizontal ----------- */
@media screen and (max-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	
	.amazing .super-text
		top -50px
		font-size 36px
	
		center-horizontal()
		
	.amazing .story-text
		font-size 36px
		width 525px
		
		center-horizontal()



/* ----------- Non-Retina Screens Horizontal ----------- */
@media screen and (max-width: 768px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)

	.amazing .super-text
		top -50px
		font-size 36px
	
		center-horizontal()
		
	.amazing .story-text
		font-size 36px
		width 525px
		
		center-horizontal()




// ---> Large Screen

/* ----------- Non-Retina Screens Horizontal ----------- */
@media screen and (min-width: 1500px) and (min-resolution: 1dppx)

	.amazing .super-text
		top -50px
		font-size 36px
	
		center-horizontal()
		
	.amazing .story-text
		font-size 36px
		width 800px
		
		center-horizontal()



/* ----------- Retina Screens Horizontal ----------- */
@media screen and (min-width: 1500px) and (min-resolution: 2dppx)

	.amazing .super-text
		top -50px
		font-size 36px
	
		center-horizontal()
		
	.amazing .story-text
		font-size 36px
		width 800px
		
		center-horizontal()
		

/*
 *	Set to hit an iPhone 6+
 */

@media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)
		
		.counter 
			display none

		.amazing .story-text	
			font-size 36px
			width 375px
			bottom 10%
			white-space normal
			center-horizontal()
			
		.amazing .super-text
			top -42px
			font-size 30px
			
/*
 *	Set to hit an iPhone 6
 */
			
@media only screen and (max-device-width: 375px) and (min-resolution: 2dppx)
			
		.amazing .story-text
			font-size 30px
			width 325px
			white-space normal
			center-horizontal()
			
		.amazing .super-text
			font-size 24px
			top -35px
			
/*
 *	Set to hit an iPhone 5 + 4
 */
			
@media only screen and (max-device-width: 320px) and (min-resolution: 2dppx)
			
		.amazing .story-text
			font-size 24px
			width 275px
			white-space normal
			center-horizontal()
			
		.amazing .super-text
			font-size 18px
			top -25px
			












