@import "mixins.styl"

button
	border none
	outline none
	
	display flex
	align-items center
	justify-content center
	
	text-transform uppercase
	letter-spacing 1px
	font-weight 600

primary_width = 175px

button.primary
	border-radius 15px
	background-color #FFDA64
	font-size 8px
	color #4C4C4C
	height 40px
	width primary_width
	

button.secondary
	width  {primary_width / PHI} "px"
	border-radius 15px
	
	font-size 8px
	color #4C4C4C
	height 40px
	width 175px
	
