@import "mixins.styl"

button
	border none
	outline none
	
	display flex
	align-items center
	justify-content center
	
	text-transform uppercase
	letter-spacing 1px
	font-weight 600

$primary_width = 200px

button.primary,
button.secondary
	font-size 10px
	
	border-radius 15px
	
	background-color #FEDE7D
	color #4C4C4C
	
	height 45px
	width $primary_width
	
	transition color 150ms, background-color 150ms, border-color 150ms
	
	border none
	outline none
	
button.primary:hover 
	background-color #F7DD8D
	
button.primary:active
	background-color #E8CD7A

button.secondary 
	width  ($primary_width / $PHI)
	height 40px

	color #dbdbdb
	background-color transparent
	border 1px solid rgb(45, 45, 45)
	
button.secondary:hover 
	background-color #358DD7;
	color #FFF
	border-color transparent
	
	
