@import "mixins.styl"

button
	border none
	outline none
	
	display flex
	align-items center
	justify-content center
	
	text-transform uppercase
	letter-spacing 1px
	font-weight 600

$primary_width = 200px

button.primary,
button.secondary
	border-radius 15px
	background-color #FEDE7D
	font-size 8px
	color #4C4C4C
	height 45px
	width $primary_width
	
	border none
	outline none

button.secondary 
	width  ($primary_width / $PHI)
	height 40px

	color #737373
	background-color transparent
	border 1px solid #565656
