$LOGO_BLUE = #78BEF0

$TEXT_BLUE = #3B556A
$FILL_BLUE = $TEXT_BLUE

$FILL_LIGHTER_BLUE = #455E72
$FILL_DARKER_BLUE = #1B2731

$FILL_WHITE = #FAFAF0

$ACCENT_YELLOW = #FFDF74

$ACCENT_RED = #C85A5A

$PLACEHOLDER_COLOR = #ECECEC

