$LOGO_BLUE = #78BEF0

$TEXT_BLUE = #3B556A
$BIG_NUMBER_BLUE = #293B49
$TEXT_BLUE_LIGHT = #738796

$FILL_BLUE = $TEXT_BLUE

$FILL_LIGHTER_BLUE = #455E72
$FILL_DARKER_BLUE = #1B2731

$FILL_WHITE = #FAFAF0		

$ACCENT_YELLOW = #FFDF74
$ACCENT_YELLOW_2 = #FEE79C

$ACCENT_RED = #C85A5A

$PLACEHOLDER_COLOR = #ECECEC

$LANDING_WHITE = rgba(255, 255, 255, 0.85)

