@require "colors.styl"
@require "mixins.styl"

button
	border none
	outline none
	
	display flex
	align-items center
	justify-content center
	
	text-transform uppercase
	letter-spacing 1px
	font-weight 600
	
	pointer-events: all;

$primary_width = 250px
$primary_height = 60px
$primary_radius = 20px

button.primary,
button.secondary,
div.tertiary
	font-size 12px
	
	border-radius 15px
	
	background-color #FEDE7D
	color #4C4C4C
	
	height $primary_height
	width $primary_width
	
	transition color 150ms, background-color 150ms, border-color 150ms
	
	border none
	outline none
	
	letter-spacing .5px
	font-weight 400
	
button.primary:hover 
	background-color #F7DD8D
	
button.primary:active
	background-color #E8CD7A

button.secondary 
	width  ($primary_width / $PHI)
	height 40px

	color #dbdbdb
	background-color transparent
	border 1px solid rgb(45, 45, 45)
	
button.secondary:hover 
	background-color #358DD7;
	color #FFF
	border-color transparent

div.tertiary
	background transparent
	color $PLACEHOLDER_COLOR
	border 1px solid $PLACEHOLDER_COLOR
	
	display flex
	align-items center
	justify-content center
	
div.tertiary::before
	content ""
	height $primary_height
	width $primary_width
	border-right 1px solid $PLACEHOLDER_COLOR
	

/* Placeholder defaults */

::-webkit-input-placeholder  /* WebKit, Blink, Edge */
	color $PLACEHOLDER_COLOR

:-moz-placeholder  /* Mozilla Firefox 4 to 18 */
	color $PLACEHOLDER_COLOR
	opacity 1

::-moz-placeholder /* Mozilla Firefox 19+ */
	color $PLACEHOLDER_COLOR
	opacity  1

:-ms-input-placeholder /* Internet Explorer 10-11 */
	color #ECECEC
   
input[type=text],
input[type=password]
	width $primary_width
	height $primary_height
	
	box-sizing border-box
	
	padding-top 5px
	padding-left 30px
	
	border-radius 10px
	margin 5px
	font-size 10px
	background transparent
	border 1px solid #3B556A
	color #ECECEC
	outline none
	letter-spacing .5px
	font-weight 300
	
button.cta 
	
	box-sizing border-box
	
	padding 5px
	
	border-radius $primary_radius
	margin 5px
	padding-left 45px
	background transparent
	border 1px solid $WASHI
	color $WASHI
	outline none
	
	text-transform initial
	
	



		


