@require "colors.styl"
@require "mixins.styl"

button
	border none
	outline none
	
	display flex
	align-items center
	justify-content center
	
	text-transform uppercase
	letter-spacing 1px
	font-weight 600

$primary_width = 150px
$primary_height = 35px

button.primary,
button.secondary,
div.tertiary
	font-size 10px
	
	border-radius 15px
	
	background-color #FEDE7D
	color #4C4C4C
	
	height $primary_height
	width $primary_width
	
	transition color 150ms, background-color 150ms, border-color 150ms
	
	border none
	outline none
	
	cursor pointer
	
button.primary:hover 
	background-color #F7DD8D
	
button.primary:active
	background-color #E8CD7A

button.secondary 
	width  ($primary_width / $PHI)
	height 40px

	color #dbdbdb
	background-color transparent
	border 1px solid rgb(45, 45, 45)
	
button.secondary:hover 
	background-color #358DD7;
	color #FFF
	border-color transparent

div.tertiary
	background transparent
	color $TEXT_BLUE
	border 1px solid $TEXT_BLUE
	
	display flex
	align-items center
	justify-content center

div.tertiary:before
	content ""
	display block

	width 30px
	height 30px
	position absolute
	top -1px
	left -32px
	
	border 1px solid $TEXT_BLUE
	border-top-left-radius 10px
	border-bottom-left-radius 10px
	

/* Placeholder defaults */

::-webkit-input-placeholder  /* WebKit, Blink, Edge */
	color $PLACEHOLDER_COLOR

:-moz-placeholder  /* Mozilla Firefox 4 to 18 */
	color $PLACEHOLDER_COLOR
	opacity 1

::-moz-placeholder /* Mozilla Firefox 19+ */
	color $PLACEHOLDER_COLOR
	opacity  1

:-ms-input-placeholder /* Internet Explorer 10-11 */
	color #ECECEC
   
input[type=text],
input[type=password]
	width $primary_width
	height $primary_height
	
	box-sizing border-box
	
	padding 5px
	
	border-radius 10px
	margin 5px
	padding-left 30px
	font-size 10px
	background #152A3A
	border 1px solid transparent
	color #ECECEC
	outline none
	letter-spacing .5px
	font-weight 300
	
	transition border-color 100ms ease-in-out

input[type=text]:focus,
input[type=password]:focus
	border 1px solid rgba(255, 255, 255, 0.05)



/* For loading indicators */

.spinny {
	width: 1px;
  	height: 10px;
  	background-color: rgb(199, 199, 199);
  	opacity: 0;

	transition: opacity 0.5s 0.5s ease-in-out;

	-webkit-animation: spin 1.5s 0.5s 0;
	-moz-animation: spin 1.5s 0.5s 0;
	animation: spin 1.5s 0.5s 0;
}

.spinny.onscreen {
	opacity: 1;

	/* This optimization is for power efficiency. 
	   Otherwise blinkies take up about 10% idle cpu
	   in a Chrome Helper */
	-webkit-animation-iteration-count: infinite; 
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.spinny.error {
	width: 7px;
  	height: 7px;
  	border-radius: 100%;
	background-color: rgb(213, 81, 50);
	opacity: 1;

	-webkit-animation: none;
	animation: none;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
		


