@require 'colors.styl'
@require 'mixins.styl'
@require 'amazing.styl'

.galileo
	height 100%
	width 100%
	
	@extend .module-font
	
	// background-image url($BASE_URL + '/images/deep-dream.jpg')
	background-image url($BASE_URL + '/images/galileo/backdrop-desktop.jpg')
	background-size cover

.mobile .galileo
	background-image url($BASE_URL + '/images/galileo/backdrop-mobile.jpg')

$galileo_bgcolor = rgba($FILL_DARKER_BLUE, 0.7);

.galileo .transition
	$height_factor = 3;

	width 100%
	height $height_factor * 100%
	background-image linear-gradient($FILL_WHITE, $galileo_bgcolor);
	
.galileo .action
	position relative
	width 100%
	height 100%
	
	background-color $galileo_bgcolor
	
	overflow-y hidden

.galileo .story-text
	@extend .amazing .story-text
	
	line-height 1.5em
	white-space normal
	color $TEXT_BLUE_LIGHT
	height 200px
	
	display flex
	align-items center
	justify-content center
	
	center()
	
.galileo .story-text.italics .text
	font-style italic
	font-family 'Vollkorn', 'Roboto Condensed', 'Lucidia Grande', serif;
	font-weight 400
	font-size 24px
	text-transform none
	line-height 1.25em
	letter-spacing 0.5px

.galileo .story-text-big
	@extend .amazing .story-text

	width 700px
	height 400px

	color $TEXT_BLUE_LIGHT
	center()
	
	opacity 0.7
	transition opacity 1000ms 250ms ease
	
.galileo .story-text-big.invisible
	opacity 0
	transition opacity 250ms 0ms ease
	
.big-number.hundred:first-letter
	letter-spacing -67.5px
	
.big-number.hundred
	margin-left -5%

.galileo .story-text-big .inner
	display flex
	align-items center
	justify-content center
	flex-direction column
	z-index 1
	width 100%
	
	height 200px
	center-vertical()
	
// .galileo .inner:after
// 	content "...."
// 	font-size 10px
// 	letter-spacing 1px
	
.galileo .story-text .counter
	bottom -40px
	
.galileo .story-text-big .counter
	bottom -20px
	font-size 6px
	letter-spacing 5px
	
.galileo .story-text-big .high-text
	@extend .galileo .story-text.italics .text
	text-transform lowercase
	font-size 30px
	
.galileo .story-text-big .medium-text
	font-size 85px
	letter-spacing 5px
	line-height 0.85em
	
.galileo .story-text-big .low-text
	font-size 30px
	letter-spacing 16px
	
.galileo .big-number
	position absolute
	top 185px
	
	z-index 0
	font-size 400px
	font-weight 400
	letter-spacing -15px
	margin-left -1.5%

	color $BIG_NUMBER_BLUE
	
	width 100%
	height 100%
	text-align center
	
	transition top 250ms ease
	transition font-size 250ms ease
	
.galileo .big-number.hundred
	margin-left -5%	

.neural-network
	height 100%
	width 100%
	
	position absolute
	top 0px
	left 0px
	


/*
 *	Media Queries
 */
 

/* ----------- Non-Retina Screens ----------- */
// handle conflict from amazing
@media screen and (max-width: 450px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.galileo .story-text-big
		font-size 48px

@media screen and (max-width: 499px) and (min-resolution: 1dppx) and (min-resolution: 96dpi), screen and (max-width: 450px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.galileo .big-number
		top 185px	
		font-size 350px

	.galileo .story-text-big .high-text
		font-size 24px
		
	.galileo .story-text-big .medium-text
		font-size 72px
	
	.galileo .story-text-big .low-text
		font-size 24px
		
	.galileo .big-number.hundred:first-letter
		letter-spacing -67.5px
		
		
@media screen and (max-width: 500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.galileo .story-text-big .inner
		height 400px
		center-vertical(0px)

	.galileo .story-text-big .medium-text
		position relative
		top 0px

/* ----------- Retina Screens ----------- */
@media screen and (min-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.galileo .big-number
		top 185px	
		font-size 350px
	
	.galileo .story-text-big .high-text
		font-size 24px
		
	.galileo .story-text-big .medium-text
		font-size 72px
	
	.galileo .story-text-big .low-text
		font-size 24px
		
	.galileo .big-number.hundred:first-letter
		letter-spacing -67.5px



// ---> Medium Screen

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 1000px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.galileo .big-number
		top 185px
		font-size 400px
	
	.galileo .big-number.hundred:first-letter
		letter-spacing -75px
		
	.galileo .story-text-big .high-text
		font-size 30px
		
	.galileo .story-text-big .medium-text
		font-size 85px
	
	.galileo .story-text-big .low-text
		font-size 30px
	
	.galileo .story-text-big .counter
		bottom -30px


/* ----------- Retina Screens ----------- */
@media screen and (min-width: 1000px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.galileo .big-number
		top 185px
		font-size 400px
		
	.galileo.big-number.hundred:first-letter
		letter-spacing -75px
		
	.galileo .story-text-big .high-text
		font-size 30px
		
	.galileo .story-text-big .medium-text
		font-size 85px
	
	.galileo .story-text-big .low-text
		font-size 30px
		
	.galileo .story-text-big .counter
		bottom -30px
		

		
/* ----------- Mobile Media Queries ----------- */

/*
 *	Set to hit an iPhone 6+
 */

@media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)
		
	.counter 
		display none
		
	.galileo .big-number
		top 175px
		font-size 300px
		margin-left -1.5%
	
	.galileo .big-number.hundred
		margin-left -3%

	.galileo .story-text.italics .text
		font-size 30px
		width 360px
		bottom 15%
		white-space normal
	
	
	.galileo .story-text
		white-space normal
		width 375px
		
		center()
		
	.galileo .super-text
		width 375px
		top -42px
		font-size 30px
			
/*
 *	Set to hit an iPhone 6
 */
			
@media only screen and (max-width: 375px) and (max-device-width: 375px) and (min-resolution: 2dppx)

	.galileo .big-number
		top 185px	
		font-size 275px
		margin-left -1.5%
		
	.galileo .big-number.hundred
		margin-left -3%
		
	.galileo .big-number.hundred:first-letter
		letter-spacing -52px
			
	.galileo .story-text.italics .text
		font-size 24px
		width 275px
		white-space normal
		
	
	.galileo .story-text
		white-space normal
		width 275px
		
		center()
		
	.galileo .text-caps
		
	.galileo .super-text
		width 325px
		font-size 24px
		top -35px
		
	.galileo .story-text-big .inner
		height 400px
		center-vertical(25px)
		font-size 30px
	
	.galileo .story-text-big .medium-text
		font-size 72px
		
	.galileo .story-text-big .high-text
		font-size 24px
	
	.galileo .story-text-big .low-text
		font-size 24px
		
		position relative
		top -12px
			
/*
 *	Set to hit an iPhone 5 + 4
 */
			
@media only screen and (max-device-width: 320px) and (min-resolution: 2dppx)

	.galileo .big-number
		top 190px
		font-size 250px
		margin-left -1.5%
		
	.galileo .big-number.hundred
		margin-left -3%

	.galileo.big-number.hundred:first-letter
		letter-spacing -85px
			
	.galileo .story-text.italics .text
		font-size 18px
		width 275px
		white-space normal
		
		center()
		
	.galileo .story-text
		white-space normal
		width 250px
		
		
	.galileo .super-text
		width 275px
		font-size 18px
		top -25px
		
	.galileo .story-text-big .medium-text
		font-size 60px
		
	.galileo .story-text-big .high-text
		font-size 20px
		line-height 1.5em
		
	.galileo .story-text-big .low-text
		font-size 18px
		letter-spacing 14px
			
/* ----------- Horizontal ----------- */

@media screen and (max-width: 749px) and (min-resolution: 2dppx) and (min-resolution: 192dpi) and (min-device-width: 600px), screen and (max-width: 749px) and (min-resolution: 1dppx) and (min-resolution: 96dpi) and (min-device-width: 600px)

	.galileo .story-text.caps
		font-size 22px
		width 350px
	
		center-horizontal()
	
	.galileo .story-text.italics
		width 305px
		center-horizontal()
		
	.galileo .story-text-big .inner
		height 400px
		center-vertical(15px)

	.galileo .story-text-big .medium-text
		position relative
		top 4px

@media screen and (min-width: 750px) and (min-resolution: 2dppx) and (min-resolution: 192dpi), screen and (min-width: 750px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)

	.galileo .story-text.italics
		width 675px
		center-horizontal()

@media screen and (min-width: 1300px) and (min-resolution: 2dppx) and (min-resolution: 192dpi), screen and (min-width: 1300px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.galileo .story-text.italics .text
		font-size 30px
		
	.galileo .story-text.italics
		width 700px 
		center-horizontal()
		



