@require 'colors.styl'
@require 'mixins.styl'
@require 'amazing.styl'

.galileo
	height 100%
	width 100%
	
	@extend .module-font
	

.galileo .transition
	$height_factor = 3;

	width 100%
	height $height_factor * 100%
	background-image linear-gradient($FILL_WHITE, $FILL_DARKER_BLUE);
	
.galileo .action
	position relative
	width 100%
	height 100%
	
	background-color $FILL_DARKER_BLUE
	
	overflow-y hidden

.galileo .story-text
	@extend .amazing .story-text
	
	line-height 1.5em
	white-space normal
	color $TEXT_BLUE_LIGHT
	height 100px
	
	center()
	
.galileo .story-text .text.italics
	font-style italic
	font-family 'Vollkorn', 'Roboto Condensed', 'Lucidia Grande', serif;
	font-weight 400
	font-size 30px
	text-transform none
	line-height 1.25em
	letter-spacing 0px

.galileo .story-text-big
	@extend .amazing .story-text

	width 700px
	height 400px

	color $TEXT_BLUE_LIGHT
	center()
	
.big-number.hundred:first-letter
	// letter-spacing -67.5px

.galileo .story-text-big .inner
	display flex
	align-items center
	justify-content center
	flex-direction column
	z-index 1
	width 100%
	
	height 200px
	center-vertical()
	
.galileo .inner:after
	content "...."
	font-size 10px
	letter-spacing 1px
	
.galileo .story-text .counter
	bottom -40px
	
.galileo .story-text-big .counter
	bottom -20px
	font-size 6px
	letter-spacing 5px
	
.galileo .story-text-big .high-text
	@extend .galileo .story-text .text.italics
	text-transform lowercase
	font-size 30px
	
.galileo .story-text-big .medium-text
	font-size 85px
	letter-spacing 5px
	line-height 0.85em
	
.galileo .story-text-big .low-text
	font-size 30px
	letter-spacing 16px
	
.galileo .big-number
	position absolute
	top -25px
	
	z-index 0
	font-size 400px
	font-weight 400
	letter-spacing -15px
	margin-left -1.5%

	color $BIG_NUMBER_BLUE
	
	width 100%
	height 100%
	text-align center
	
	transition top 250ms ease
	transition font-size 250ms ease
	
.galileo .big-number.hundred
	margin-left -5%	

.neural-network
	height 100%
	width 100%
	
	position absolute
	top 0px
	left 0px
	


/*
 *	Media Queries
 */



// ---> Small Screen

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 600px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.galileo .big-number
		top 165px	
		font-size 350px
	
	.galileo .story-text-big .high-text
		font-size 24px
		
	.galileo .story-text-big .medium-text
		font-size 72px
	
	.galileo .story-text-big .low-text
		font-size 24px
		
	.galileo .big-number.hundred:first-letter
		letter-spacing -67.5px


/* ----------- Retina Screens ----------- */
@media screen and (min-width: 400px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.galileo .big-number
		top 165px	
		font-size 350px
	
	.galileo .story-text-big .high-text
		font-size 24px
		
	.galileo .story-text-big .medium-text
		font-size 72px
	
	.galileo .story-text-big .low-text
		font-size 24px
		
	.galileo .big-number.hundred:first-letter
		letter-spacing -67.5px



// ---> Medium Screen

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 1000px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.galileo .big-number
		top 165px
		font-size 450px
	
	.galileo .big-number.hundred:first-letter
		letter-spacing -75px
		
	.galileo .story-text-big .high-text
		font-size 30px
		
	.galileo .story-text-big .medium-text
		font-size 85px
	
	.galileo .story-text-big .low-text
		font-size 30px
	
	.galileo .story-text-big .counter
		bottom -30px


/* ----------- Retina Screens ----------- */
@media screen and (min-width: 1000px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.galileo .big-number
		top 165px
		font-size 450px
		
	.galileo.big-number.hundred:first-letter
		letter-spacing -75px
		
	.galileo .story-text-big .high-text
		font-size 30px
		
	.galileo .story-text-big .medium-text
		font-size 85px
	
	.galileo .story-text-big .low-text
		font-size 30px
		
	.galileo .story-text-big .counter
		bottom -30px
		

		
/* ----------- Mobile Media Queries ----------- */

/*
 *	Set to hit an iPhone 6+
 */

@media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)
		
	.counter 
		display none
		
	.galileo .big-number
		top 150px
		font-size 300px

	.galileo .story-text .text.italics	
		font-size 30px
		width 375px
		bottom 15%
		white-space normal
	
	.galileo .story-text
		white-space normal
		width 375px
		
		center()
		
	.galileo .super-text
		width 375px
		top -42px
		font-size 30px
			
/*
 *	Set to hit an iPhone 6
 */
			
@media only screen and (max-device-width: 375px) and (min-resolution: 2dppx)

	.galileo .big-number
		top 150px
		font-size 300px
		
	.galileo .big-number.hundred:first-letter
		letter-spacing -52px
			
	.galileo .story-text .text.italics
		font-size 24px
		width 325px
		white-space normal
	
	.galileo .story-text
		white-space normal
		width 325px
		
		center()
		
	.galileo .text-caps
		
	.galileo .super-text
		width 325px
		font-size 24px
		top -35px
	
	.galileo .story-text-big .medium-text
		font-size 72px
		
	.galileo .story-text-big .high-text
		font-size 24px
	
	.galileo .story-text-big .low-text
		font-size 24px
			
/*
 *	Set to hit an iPhone 5 + 4
 */
			
@media only screen and (max-device-width: 320px) and (min-resolution: 2dppx)

	.galileo .big-number
		top 150px
		font-size 300px

	.galileo.big-number.hundred:first-letter
		letter-spacing -85px
			
	.galileo .story-text .text.italics
		font-size 18px
		width 275px
		white-space normal
		
	.galileo .story-text
		white-space normal
		width 250px
		
		center()
		
	.galileo .super-text
		width 275px
		font-size 18px
		top -25px
			

	
