@require 'colors.styl'
@require 'mixins.styl'
@require 'amazing.styl'
@require 'animation.styl'

.galileo
	height 100%
	width 100%
	
	@extend .module-font
	
	// background-image url($BASE_URL + '/images/deep-dream.jpg')
	// background-size cover
	

.galileo .transition
	$height_factor = 3;

	width 100%
	height $height_factor * 100%
	background-image linear-gradient($FILL_WHITE, $FILL_DARKER_BLUE);
	opacity .90
	
.galileo .action
	position relative
	width 100%
	height 100%
	
	background-color $FILL_DARKER_BLUE
	opacity .90
	
	overflow-y hidden

.galileo .story-text
	@extend .amazing .story-text
	
	line-height 1.5em
	white-space normal
	color $TEXT_BLUE_LIGHT // Optically Lighten
	height 100px
	margin: 0
	opacity: 0
	
	center()
	
.galileo .story-text .text.italics
	font-style italic
	font-family 'Vollkorn', 'Roboto Condensed', 'Lucidia Grande', serif;
	font-weight 400
	text-transform none
	line-height 1.35em
	letter-spacing 0px
	
.galileo .caps
	font-size 30px
	line-height 1.35em
	transition $SLOW font-size

.galileo .story-text-big
	@extend .amazing .story-text

	width 700px
	height 400px
	margin: 0
	opacity: 0

	color $TEXT_BLUE_LIGHT
	center()

.galileo .story-text-big .inner
	display flex
	align-items center
	justify-content center
	flex-direction column
	z-index 1
	width 100%
	
	height 200px
	center-vertical()
	
// .galileo .inner:after
// 	content "...."
// 	font-size 10px
// 	letter-spacing 1px
	
.galileo .story-text .counter
	bottom -40px
	
.galileo .story-text-big .counter
	bottom -20px
	font-size 6px
	letter-spacing 5px
	
.galileo .story-text-big .high-text	
	font-family 'Roboto Condensed', 'Lucidia Grande', serif;
	font-weight 700
	text-transform uppercase
	line-height 1.35em
	letter-spacing 2px
	
	font-size 28px
	line-height 2.5em
	letter-spacing 2.5px
	
.galileo .story-text-big .preposition-text
	@extend .galileo .story-text-big .high-text
	line-height 2em
	
.galileo .story-text-big .preposition-text:before,
.galileo .story-text-big .preposition-text:after
	content ""
	position absolute
	height 0
	border-top 3px solid $TEXT_BLUE_LIGHT
	top 66%
	width 125px

.galileo .story-text-big .preposition-text:before
	left 25%
	margin-left 15px

.galileo .story-text-big .preposition-text:after
	right 25%
	margin-right 25px
	width 117px
	
.galileo .story-text-big .medium-text
	font-size 72px
	letter-spacing 7px
	line-height 0.85em
	
.galileo .story-text-big .low-text
	@extend .galileo .story-text-big .medium-text
	letter-spacing 6px

.neural-network
	height 100%
	width 100%
	display block
	position relative
	margin-left auto
	margin-right auto
	top 0px
	
	z-index -1
	
.neural-network-bg
	position absolute
	top 0
	left 0
	transition opacity 1s ease
	
.neural-network-fade
	opacity 0
	
.visible
	visibility visible
	
.absolute-pos
	position: absolute
	

// ---> Text Transition
	
.galileo .transition-none
	transition: none
	
.galileo .transition-state
	transition: all $SLOW ease-out
	
.galileo .transition-show
	opacity: 1

.galileo .fs-enter  // Fade + Slide Up
	margin-top: -15px

.galileo .fs-exit  // Fade + Slide Up
	margin-top: -35px
	
.galileo .fs-enter-reverse  // Fade + Slide Up
	margin-top: 15px

.galileo .fs-exit-reverse  // Fade + Slide Up
	margin-top: 35px


/*
 *	Media Queries
 */



// ---> Small Screen

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 400px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
		
	.galileo .story-text-big .medium-text
		font-size 72px
		
	.galileo .caps
		font-size 30px


/* ----------- Retina Screens ----------- */
@media screen and (min-width: 400px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
		
	.galileo .story-text-big .medium-text
		font-size 72px
		
	.galileo .caps
		font-size 30px
		

// ---> Medium Screen

/* ----------- Non-Retina Screens Horizontal ----------- */
@media screen and (min-width: 750px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.galileo .caps
		font-size 36px
		
	.galileo .story-text-big
		transform scale(1.15)


/* ----------- Retina Screens Horizontal ----------- */
@media screen and (min-width: 750px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.galileo .caps
		font-size 36px
		
	.galileo .story-text-big
		transform scale(1.15)


// ---> Large Screen

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 1000px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.galileo .story-text-big .counter
		bottom -30px
		
	.galileo .caps
		font-size 42px
		
	.galileo .story-text-big
		transform scale(1.25)
		


/* ----------- Retina Screens ----------- */
@media screen and (min-width: 1000px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.galileo .story-text-big .counter
		bottom -30px
		
	.galileo .caps
		font-size 42px
		
	.galileo .story-text-big
		transform scale(1.25)
		
		

		
/* ----------- Mobile Media Queries ----------- */

/*
 *	Set to hit an iPhone 6+
 */

@media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)

	.galileo .story-text .text.italics	
		font-size 30px
		width 360px
		bottom 15%
		white-space normal
		
		center()
	
	.galileo .story-text
		white-space normal
		width 375px
		
		center()
		
	.galileo .super-text
		width 375px
		top -42px
		font-size 30px
			
/*
 *	Set to hit an iPhone 6
 */
			
@media only screen and (max-device-width: 375px) and (min-resolution: 2dppx)
			
	.galileo .story-text .text.italics
		font-size 24px
		width 325px
		white-space normal
		
		center()
	
	.galileo .story-text
		white-space normal
		width 325px
		
		center()
		
	.galileo .caps
		font-size 30px
		line-height 1.45em
		
	.galileo .super-text
		width 325px
		font-size 24px
		top -35px
	
	.galileo .story-text-big .medium-text
		font-size 72px
		
	.galileo .story-text-big
		transform scale(0.9)
			
/*
 *	Set to hit an iPhone 5 + 4
 */
			
@media only screen and (max-device-width: 320px) and (min-resolution: 2dppx)
		
	.galileo .story-text .text.italics
		font-size 18px
		width 275px
		white-space normal
		
		center()
		
	.galileo .story-text
		white-space normal
		width 250px
		
		center()
		
	.galileo .super-text
		width 275px
		font-size 18px
		top -25px
		
	.galileo .story-text-big .medium-text
		font-size 60px
		
	.galileo .story-text-big
		transform scale(0.75)
			

	
