@require 'mixins.styl'
@require 'controls.styl'
@require 'colors.styl'
@require 'parallax.styl'
@require 'scrollbar.styl'
@require 'bumper.styl'

.gateway
	z-index 60
	parallax(1px)

section.gateway
	/* Fix a bug with cover in Android Chrome
	   where it appearently doesn't work on html/body
	   but works in other situations. */
	
	height 100vh
	margin 0
	overflow-x hidden
	overflow-y auto
	padding 0
	width 100%

	display flex
	color white
	align-items center
	justify-content center
	flex-direction column

div.opening
	text-transform uppercase

	font-weight 400
	font-size 36px
	letter-spacing 12px
	color $LANDING_WHITE
	text-align center
	
.gateway .play-now
	display block
	position relative
	margin-left auto
	margin-right auto
	margin-top 35px
	
	text-align center

.gateway .explorebtn
	width 150px
	height @width
	
	center-horizontal()
	border-radius 100%

	bottom 10%
	cursor pointer

.gateway .explorebtn .arrow
	position absolute
	
	width 0px
	height 0px
	border 10px solid rgba(0, 0, 0, 0)
	border-top 10px solid $LANDING_WHITE
	position absolute
	top calc(50% - 0px / 2 + -3px)
	left calc(50% - 0px / 2 + -10px)

.gateway .explorebtn .text
	position absolute
	top calc(67%)
	left calc(50% - 38px)
	letter-spacing 4px
	font-size 12px
	font-weight 700
	opacity 0
	
	transition opacity 350ms ease-in-out
	
.gateway .explorebtn:hover .text
	opacity 1
	

.gateway #continuebtn
	margin-top 40px
	
	display flex
	justify-content center
	align-items center
	
/* ----------- Media Queries ----------- */

/* Portrait and Landscape
 *
 *
 *	Set to hit an iPhone 6s+ and everything smaller as well
 *
 */

@media only screen and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2)

		div.opening
			width 300px
			font-size 30px
			letter-spacing 10px
			line-height 1.5em
			
@media only screen and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2)

		div.opening
			width 250px
			font-size 20px
			letter-spacing 10px
			line-height 1.5em
  

	


