@require 'colors.styl'

.header
	position fixed
	top 0
	left 0
	
	width 100%
	height 100%
	
	z-index 100
	pointer-events none
	
.header div
	pointer-events auto
	transition opacity 300ms
	
.header.invisible div,
.header.invisible div.visible
	opacity 0

$corner_offset = 5%

.header .logotype
	position absolute
	top $corner_offset
	left $corner_offset
	
	background-image url('/images/logotype.svg') 
	background-size 100px 30px
	background-repeat no-repeat
	width 120px
	height 35px
	
.header .share,
.header .login,
.header .register
	position absolute
	top $corner_offset
	right $corner_offset
	
	opacity 0

.header .share
	height 30px
	width @height
	
	background-image url('/images/icons/sh.svg') // ad-blocks sometimes block share.svg
	background-size @height @height
	background-repeat no-repeat

.header .login,
.header .register
	height 30px
	width 150px
	
	color $TEXT_BLUE_LIGHT
	border-top-left-radius 0px
	border-bottom-left-radius 0px
	
.header .login.visible,
.header .register.visible 
	opacity 1
	
.header .login.visible:before,
.header .register.visible:before
	opacity 1

.header .share.visible
	opacity .3

.header .tertiary:before
	background url("/images/icons/enter.svg")
	background-size 65%
	background-repeat no-repeat
	background-position 5px 6px
	