@require 'colors.styl'
@require 'mixins.styl'

.header
	position fixed
	top 0
	left 0
	
	width 100%
	height 1px
	
	z-index 100
	pointer-events none
	
.header .invisible,
.header.invisible
	opacity 0
	transition opacity 1s ease-in-out

	
.header div
	pointer-events auto
	transition opacity 1s ease-in-out
	
.header.invisible div,
.header.invisible div.visible
	opacity 0

$corner_offset = 35px

.header .logotype
	position absolute
	top $corner_offset
	left $corner_offset
	
	background-image url($BASE_URL + '/images/logotype.svg') 
	background-size 150px
	background-repeat no-repeat
	width 150px
	height 40px
	
	cursor pointer
	
	
.header .share,
.header .login,
.header .register
	position absolute
	top $corner_offset
	right $corner_offset
	
	opacity 0
	pointer-events none
	cursor pointer
	
.header div.visible
	pointer-events all

.header .share
	height 30px
	width 300px
	
	right (-@width + $corner_offset + @height)
	
	transition right 1s ease-in-out, opacity 1s ease-in-out
	
.header .share.activated
	right 0px
	
.header .share .permalink
	display inline-block
	color $TEXT_BLUE
	opacity 0
	
	float left
	margin-top 5px
	margin-left 10px
	font-size 16px
	
	cursor text

.header .share.activated .permalink
	opacity 1

.header .share .before
	display block
	height 30px
	width @height
	
	float left
	
	background-image url($BASE_URL + '/images/icons/sh-dark.svg') // ad-blocks sometimes block share.svg
	background-size @height @height
	background-repeat no-repeat

.header .login,
.header .register
	height 30px
	width 150px
	
	color $TEXT_BLUE_LIGHT
	border-top-left-radius 0px
	border-bottom-left-radius 0px
	
.header .login.visible,
.header .register.visible 
	opacity 1
	
.header .login.visible:before,
.header .register.visible:before
	opacity 1

.header .share.visible
	opacity 1

.header .tertiary
	color $TEXT_BLUE

.header .tertiary:before
	background url($BASE_URL + "/images/icons/enter.svg")
	background-size 65%
	background-repeat no-repeat
	background-position 5px 6px
	
	top: -0.5px;
	left: -31px;

.header .register
	border 1px solid $TEXT_BLUE
	border-radius 15px
	width 225px
	height 50px
	

.header .register .content
	position relative
	margin-left 85px
	margin-top 17px
	
	font-size 12px
	text-align left
	color $TEXT_BLUE
	
	cursor pointer
	// transition right 1s ease-in-out	
	
// .header .register:hover .content
// 	background-color $TEXT_BLUE
// 	color $FILL_WHITE
	
.header .register .icon
	float left
	width 50px 
	height 100%
	background url($BASE_URL + "/images/icons/create-account-dark.svg")
	background-size 50%
	background-repeat no-repeat
	background-position 10px 15px
	
	margin-left 10px
	border-right 1px solid $TEXT_BLUE
	
/* ----------- Media Queries ----------- */

/* Portrait and Landscape
 *
 *
 *	Set to hit an iPhone 6s+ and everything smaller as well
 *
 */

@media only screen and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2)

	.header .logotype
		background-image url($BASE_URL + '/images/Es-dark.svg')
		background-position -12px -12px
		background-size 75px
		top 20px
		left 20px
		width 50px
		height 50px
		
	.header .content
		display none
		
	.header .register .icon
		background-position 4px 14px
		border-right none
		width 50px
		height 50px
		
	.header .register	
		border-radius 15px
		width 50px
		top 20px
		right 20px

	
















