@require 'colors.styl'
@require 'mixins.styl'

.header
	position fixed
	top 0
	left 0
	
	width 100%
	height 1px
	
	z-index 100
	pointer-events none
	
.header .invisible,
.header.invisible
	opacity 0
	transition opacity 1s ease-in-out
	
.header .register,
.header .login
	pointer-events none
	user-select none
	
.header .visible
	pointer-events auto	

	
.header div
	pointer-events auto
	transition opacity 1s ease-in-out
	
.header.invisible div,
.header.invisible div.visible
	opacity 0

$corner_offset = 35px

.header .logotype
	position absolute
	top $corner_offset
	left $corner_offset
	
	background-image url($BASE_URL + '/images/logotype.svg') 
	background-size 150px
	background-repeat no-repeat
	width 150px
	height 40px
	
	cursor pointer
	
	
.header .share,
.header .login,
.header .register
	position absolute
	top $corner_offset
	right $corner_offset
	
	opacity 0
	pointer-events none
	cursor pointer
	
.header div.visible
	pointer-events all
	z-index 100

.header .share
	height 30px
	width 225px
	
	right -85px
	
	transition right 250ms ease-in-out, opacity 250ms ease-in-out
	
	display flex
	align-items center
	
.header .share div
	float left
	transition opacity 250ms ease-in-out
	
.header .share.visible div
	opacity 0

.header .share.activated div
	opacity 1
	
.header .share .text
	color $TEXT_BLUE
	text-transform uppercase
	font-weight 700
	letter-spacing 1.25px
	padding-right 5px
	
.header .share.activated
	right 0px

.header .share .image
	display block
	height 30px
	width @height
	
	float left
	
	background-image url($BASE_URL + '/images/icons/sh-dark.svg') // ad-blocks sometimes block share.svg
	background-size @height @height
	background-repeat no-repeat
	
.header .share .before
	@extend .header .share .image
	margin-right 7px

.header .share.visible .before,
.header .share.visible .text
	opacity 1


.header .share .social
	box-sizing border-box
	margin-right 10px
	border 1px solid transparent
	border-radius 3px
	transition border 250ms ease-in-out
	
	position relative
	top -2px
	
.header .share .social:hover
	1 // border 1px solid $TEXT_BLUE

.header .share .fb-share
	@extend .header .share .image
	background-image url($BASE_URL + '/images/icons/fb-dark.svg') 
	
.header .share .twitter-share
	@extend .header .share .image
	background-image url($BASE_URL + '/images/icons/fb-dark.svg')
	
.header .share .email-share
	@extend .header .share .image
	background-image url($BASE_URL + '/images/icons/email-dark.svg')
	
.header .login,
.header .register
	height 30px
	width 150px
	
	color $TEXT_BLUE_LIGHT
	border-top-left-radius 0px
	border-bottom-left-radius 0px
	
.header .login.visible,
.header .register.visible 
	opacity 1
	
.header .login.visible:before,
.header .register.visible:before
	opacity 1

.header .share.visible
	opacity 1

.header .tertiary
	color $TEXT_BLUE

.header .tertiary:before
	background url($BASE_URL + "/images/icons/enter.svg")
	background-size 65%
	background-repeat no-repeat
	background-position 5px 6px
	
	top: -0.5px;
	left: -31px;

.header .register
	background-color $ACCENT_RED
	border-radius 22px
	width 160px
	height 45px
	box-shadow 0px 0px 0px rgba(45,45,45,0.15)
	
	transition box-shadow 250ms ease, background-color 250ms ease, opacity 1s ease
	
.header .register .galileo
	background-color #C85B5B 
	
.header .register:hover
	box-shadow 0px 5px 1px rgba(45,45,45,0.15)
	background-color $ACCENT_RED - 15%

.header .register .content
	position relative
	margin-left 50px
	margin-top 14px
	font-size 12px
	text-align left
	color $FILL_WHITE
	letter-spacing 0.5px

	cursor pointer
	// transition right 1s ease-in-out	
	
// .header .register:hover .content
// 	background-color $TEXT_BLUE
// 	color $FILL_WHITE
	
.header .register .icon
	float left
	width 45px 
	height 100%
	background url($BASE_URL + "/images/icons/create-account-light.svg")
	background-size 50%
	background-repeat no-repeat
	background-position 10px 12px
	
	margin-left 10px
	
/* ----------- Media Queries ----------- */

/* Portrait and Landscape
 *
 *
 *	Set to hit an iPhone 6s+ and everything smaller as well
 *
 */

@media only screen and (max-device-width: 736px) and (min-resolution: 2dppx)

	.header .logotype
		background-image url($BASE_URL + '/images/Es-dark.svg')
		background-position -12px -12px
		background-size 75px
		top 20px
		left 20px
		width 50px
		height 50px
		
	.header .content
		display none
		
	.header .register .icon
		background-position 4px 14px
		margin-left 10px
		border-right none
		width 50px
		height 50px
		
	.header .register	
		border-radius 15px
		width 50px
		height 50px
		top 20px
		right 20px

	
















