@require 'mixins.styl'
@require 'controls.styl'
@require 'colors.styl'
@require 'parallax.styl'
@require 'gateway.styl'
@require 'neurons.styl'
@require 'registration.styl'
@require 'scrollbar.styl'

html, body
    font-family 'Lato', 'Lucida Grande', sans-serif
    font-weight 400

    -moz-box-sizing border-box
    box-sizing border-box
    
    width 100%
    height 100%
    
body
	overflow-y hidden

#viewport
	width 100%
	height 100%
	overflow-x hidden
	overflow-y hidden
	
	// background linear-gradient(to bottom, #091117, #1D384D)
	// background url('/images/intake-background.jpg')
	background linear-gradient(to top, #1d384d, #0f1c25)
	
	transition background 1s ease-in-out
	
	position relative
	

.parallax-group > div,
.parallax-group > section
	position absolute
	overflow-y visible
	
	top 100%
	height 100%
	width 100%
	
	// margin-bottom 100% // extra oscillation space

#intake-logo
	position absolute

	width 100%
	height 200px
	
	center()

	transition height 2s ease-out, width 2s ease-out

/* parallax layers */

.parallax
	position relative
	z-index 1

#intake-logo
	position absolute
	z-index 60
	parallax(-700px)
	
#intake-logo.shrink #bumper
	transition transform 2s ease-in-out
	transform scale(.75) 
	
	
#intake-logo.safari
	1

.curtain
	opacity 1
	height 100%
	width 100%
	background-color #191919
	transition opacity 1250ms
	
	position fixed
	top 0px
	left 0px
	z-index 500

.curtain.fall
	opacity 0
	