@import 'mixins.styl'
@import 'buttons.styl'
@import 'colors.styl'
@import 'parallax.styl'

html, body
    font-family Roboto, 'Lucida Grande', sans-serif
    font-weight 400

    -moz-box-sizing border-box
    box-sizing border-box
    
    width 100%
    height 100%
    
    overflow hidden


.intake
	width 100%
	height 100%
	overflow-x hidden
	overflow-y hidden
		
	background rgb(1, 19, 34) url("/images/intake-background.png")
	background-size cover

.intake .parallax > div,
.intake .parallax > section
	position absolute
	overflow-y visible
	
	top 100%
	height 100%
	width 100%
	

$logo_width = 200px

.intake .parallax .logo
	position fixed
	
	background-image url("/images/loader.gif")
	background-repeat no-repeat
	background-size contain

	width $logo_width
	height @width
	
	center()

	transition height 2s ease-out, width 2s ease-out

.intake .parallax .logo.fixed
	width ($logo_width * 0.75)
	height ($logo_width * 0.75)

.logo::before,
.logo::after
	content " "
	display block
	width 0px
	height 1px
	
	background-color $BLUE
	border none
	outline none
	position absolute
	top 50%
	
	animation-iteration-count 1
	animation-timing-function linear
	animation-delay 1.45s
	animation-duration 1.5s

$logo_rule_start_pos = 85%

.logo::after
	animation-name motion-rule-right
	left $logo_rule_start_pos
	
.logo::before
	animation-name motion-rule-left
	right $logo_rule_start_pos

@keyframes motion-rule-right {
	0% {
		width 0%
		left $logo_rule_start_pos
	}
	50% {
		width 200%
		left $logo_rule_start_pos
	}
	80% {
		width 300%
	}
	100% {
		width 300%
		left 800%
	}
}	

@keyframes motion-rule-left {
	0% {
		width 0%
		right $logo_rule_start_pos
	}
	50% {
		width 200%
		right $logo_rule_start_pos
	}
	80% {
		width 300%
	}
	100% {
		width 300%
		right 800%
	}
}


section.gateway
	/* Fix a bug with cover in Android Chrome
	   where it appearently doesn't work on html/body
	   but works in other situations. */
	
	height 100vh
	margin 0
	overflow-x hidden
	overflow-y auto
	padding 0
	width 100%

	display flex
	color white
	align-items center
	justify-content center
	flex-direction column

div.pitch
	position relative
	text-transform uppercase
	
	font-size 30px
	font-weight 100
	letter-spacing 5px

header
	position fixed
	top 0
	left 0
	
	width 100%
	height 100%

$corner_offset = 5%

header .logotype
	position absolute
	top $corner_offset
	left $corner_offset
	
	background-image url('/images/logotype.svg') 
	background-size 100px 30px
	background-repeat no-repeat
	width 120px
	height 35px
	
	transition opacity 150ms
	
header .logotype.invisible
	opacity 0
	
header .share 
	position absolute
	top $corner_offset
	right $corner_offset
	
	opacity 0.3
	
header .share.invisible
	opacity 0

.gateway .explorebtn
	width ($primary_width / $PHI)
	center-horizontal()
	bottom 10%

.gateway #continuebtn
	margin-top 40px
	
/* parallax layers */

.intake .parallax
	position relative
	z-index 1

.intake .logo
	position absolute
	z-index 60
	parallax(-700px)

.intake .neuron
	position absolute
	background-size contain
	background-repeat no-repeat
	
	width 600px
	height 100%
	
	
.intake .left
	1 // no-op
	
.intake .right 
	1 // no-op

.intake .intake-front
	z-index 50
	parallax(150px)
	
.intake .intake-front .left
	parallax-neuron(
		$url: '/images/background/front-left.png', 
		$side: 'left', 
		$dx: 0.5, 
		$dy: 275px
	)
	
	
.intake .intake-front .right
	parallax-neuron(
		$url: '/images/background/front-right.png', 
		$side: 'right', 
		$dx: 1, 
		$dy: 200px
	)
	
.intake .intake-middle
	z-index 40
	parallax(100px)
	
.intake .intake-middle .left
	parallax-neuron(
		$width: 1547px,
		$url: '/images/background/middle-left-blur.png', 
		$side: 'left', 
		$dx: 1, 
		$dy: 200px
	)
	
.intake .intake-middle .right
	parallax-neuron(
		$url: '/images/background/middle-right-blur.png', 
		$side: 'right', 
		$dx: 1, 
		$dy: 200px
	)
	
.intake .intake-rear
	z-index 30
	parallax(50px)
	
.intake .intake-rear .left
	parallax-neuron(
		$url: '/images/background/rear-left-blur.png', 
		$side: 'left', 
		$dx: 1, 
		$dy: 200px
	)
	
.intake .intake-rear .right
	parallax-neuron(
		$url: '/images/background/middle-right-blur.png', 
		$side: 'right', 
		$dx: 1, 
		$dy: 200px
	)
	
.intake .intake-carpet
	z-index 20
	parallax(25px)
	

.intake .intake-carpet .neuron
	$url = '/images/background/neural-carpet-blur.png'
	parallax-neuron(
		$url: $url,
		$side: 'center', 
		$dx: 1, 
		$dy: 100px
	)
	
.gateway
	z-index 60
	parallax(1px)


.explore 
	height 100%
