@require 'colors.styl'
@require 'mixins.styl'
@require 'galileo.styl'

.melt-mobile .meltSlide img
	height 100%
	margin: auto
	position: absolute
	left -9999px
	right -9999px

#slideContainer div:nth-child(n+40):nth-child(-n+50)
	background: blue

.melt-mobile #meltMobileBg
	opacity 0
	height 100%
	position absolute
	left 50%
	transform translateX(-50%)

.melt-mobile .meltSlide
	opacity 0

.melt-mobile .meltSlide.enter
	opacity 1

.melt-mobile .story-text
	@extend .galileo .story-text
	font-family 'Roboto Condensed'
	font-size 30px
	line-height 1.25em
	
.melt-mobile .story-text.white-space
	top 45%
	

.melt-mobile #meltMobileWhitePart .story-text
	color: $TEXT_BLUE




// slide 0
.melt-mobile #meltMobile0.meltSlide.enter, .melt-mobile #meltMobile1.meltSlide.enter, .melt-mobile #meltMobile0.meltSlide.exit, .melt-mobile #meltMobile1.meltSlide.exit
	opacity 1

#meltMobile1.meltSlide
	opacity 1

$movement-duration = 1000ms

$slide-0-text-perct = 0.8

.melt-mobile #meltMobile0.meltSlide .story-text
	transition none // disable transition inherited from galileo

.melt-mobile #meltMobile0.meltSlide.exit.forward .story-text
	animation-fill-mode forwards
	animation-name fadeOut
	animation-duration ($movement-duration * $slide-0-text-perct)
	animation-timing-function ease-out

.melt-mobile #meltMobile0.meltSlide.enter.reverse .story-text
	opacity 0 // for the delay
	animation-fill-mode forwards
	animation-name fadeIn
	animation-duration ($movement-duration * $slide-0-text-perct)
	animation-delay ($movement-duration * (1 - $slide-0-text-perct))
	animation-timing-function ease-in

// slide 1

// .melt-mobile #meltMobile1.active img
// 	animation-duration 0s

.melt-mobile #meltMobile1 img
	transition transform 2s
	transform translateY(-100%) // leave off the screen

.melt-mobile #meltMobile1.enter img
	transform translateY(0%) // start off the screen

.melt-mobile #meltMobile1.return img
	transition top 0.5s

.melt-mobile #meltMobile1 img
	// animation-fill-mode forwards
	animation-duration $movement-duration

.melt-mobile #meltMobile1.enter.forward img
	animation-name enterFromBottom, shake
	animation-duration $movement-duration, 3000ms
	animation-iteration-count 1, infinite
	animation-delay 0s, ($movement-duration + 1000ms)
	animation-timing-function ease-out, linear

.melt-mobile #meltMobile1.enter.forward.active img
	animation none

.melt-mobile #meltMobile1.exit.reverse img
	animation-name exitToBottom
	animation-timing-function ease-in

// .melt-mobile #meltMobile1.exit.forward img
// 	// transition transform 2s
// 	// translate translateY(-100%)
// 	// animation none
// 	//-name exitToTop
// 	//animation-timing-function ease-in

.melt-mobile #meltMobile1.enter.reverse img
	animation-name enterFromTop
	animation-timing-function ease-out

// #meltMobile1.enter, #meltMobile1.exit
// 	opacity 1


$m1-story-text-perct = (1/3)

#meltMobile1 .story-text
	opacity 0
	animation-fill-mode forwards
	animation-duration ($movement-duration * $m1-story-text-perct)
	top auto
	bottom 20%

#meltMobile1.enter.forward .story-text
	animation-name fadeIn
	animation-timing-function ease-in
	animation-delay ($movement-duration * (1 - $m1-story-text-perct))

#meltMobile1.exit.reverse .story-text
	animation-name fadeOut
	animation-timing-function ease-out

#meltMobile1.exit.forward .story-text
	animation-name fadeOut
	animation-timing-function ease-out

#meltMobile1.enter.reverse .story-text
	animation-name fadeIn
	animation-timing-function ease-in
	animation-delay ($movement-duration * (1 - $m1-story-text-perct))


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
   	opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
   	opacity: 0;
  }
}

$max-height = 100px
$heights = .45 -.2 .1 -.04 .001 -0.008 0.003 0

$fraction = 5%

@keyframes shake
	0%
		transform translateY(0px)
	for x, i in $heights
		{$fraction * (i + 1) / length(heights)}
			transform translateY(-1 * x * $max-height)
	100%
		transform translateY(0px)

@keyframes enterFromTop {
  from {
    transform: translateY(-54%);
  }

  to {
   	transform: translateY(0%);
  }
}

@keyframes enterFromBottom {
  from {
    transform: translateY(100%);
  }

  to {
   	transform: translateY(0%);
  }
}

@keyframes exitToTop {
  from {
    transform: translateY(0%);
  }

  to {
   	transform: translateY(-100%);
  }
}

@keyframes exitToBottom {
  from {
    transform: translateY(0%);
  }

  to {
   	transform: translateY(100%);
  }
}



// slide 2
.melt-mobile #meltMobile2.exit.reverse, .melt-mobile #meltMobile2.visible
	opacity 1

// end sequence


// #meltMobile49 .story-text
// 	opacity 0
// 	top auto
// 	bottom 20%
// 	transition opacity 2s

// #meltMobile49.enter .story-text
// 	opacity 1


.melt-mobile #meltMobileWhitePart
	width: 100%
	height: 30%
	background-color: $FILL_WHITE
	position: absolute
	bottom: 0px
	z-index: 1
	opacity: 0
	transition: all 160ms

// .melt-mobile #meltMobileWhitePart
// 	height: 49%
// 	opacity: 1


/* ----------- Mobile Media Queries ----------- */

/*
 *	Set to hit an iPhone 6+
 */

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2)
		
	.melt-mobile .super-text
		font-size 24px
		top -35px
		
	.melt-mobile .counter
		display block
/*
 *	Set to hit an iPhone 6
 */
			
@media only screen and (max-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2)

	.melt-mobile .super-text
		font-size 24px
		top -35px
		
	.melt-mobile .story-text
		center-vertical(1000px)
		
	.melt-mobile .counter
		display block
/*
 *	Set to hit an iPhone 5 + 4
 */
			
@media only screen and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2)
			
	.melt-mobile .super-text
		font-size 24px
		top -35px
	
	.melt-mobile .counter
		display block
