@require 'colors.styl'
@require 'mixins.styl'

.melt .story-text
	@extend .amazing .story-text
	font-family 'Roboto Condensed'
	transition opacity 0.5s
	z-index 2

.melt .story-text.on-white
	color $TEXT_BLUE

.melt .story-text.bottom
	bottom 10%
	top auto
	
.melt .super-text
	@extend .amazing .super-text

.melt video
	margin auto
	height 100%
	top 0
	
	left -9999px
	right -9999px
	z-index 1

.melt.wide video
	height auto
	width 100%

.melt .whitePart
	height 50%
	background-color $FILL_WHITE
	width 100%
	bottom 0%
	position absolute
	opacity 0
	