@require 'mixins.styl'
@require 'controls.styl'
@require 'colors.styl'
@require 'parallax.styl'
@require 'scrollbar.styl'

.neuron-layer
	pointer-events none

.neuron-layer .neuron
	position absolute
	background-size contain
	background-repeat no-repeat
	
	width 600px
	height 100%
	

.neuron-layer .left
	1 // no-op
	
.neuron-layer .right 
	1 // no-op

.neuron-layer.intake-front
	z-index 50
	parallax(150px)
	
.neuron-layer.intake-front .left
	parallax-neuron(
		$url: '/images/background/front-left.png', 
		$side: 'left', 
		$dx: 0.4, 
		$dy: 275px
	)
	
	left calc(-940px + 25%)
	
.neuron-layer.intake-front .right
	parallax-neuron(
		$url: '/images/background/front-right.png', 
		$side: 'right', 
		$dx: 1, 
		$dy: 300px
	)
	
	left calc(-1170px + 70%)
	
.neuron-layer.intake-middle
	z-index 40
	parallax(100px)
	
.neuron-layer.intake-middle .left
	parallax-neuron(
		$width: 1547px,
		$url: '/images/background/middle-left-blur.png', 
		$side: 'left', 
		$dx: 1, 
		$dy: 275px
	)
	
	left calc(-850px + 12%);
	
.neuron-layer.intake-middle .right
	parallax-neuron(
		$url: '/images/background/middle-right-blur.png', 
		$side: 'right', 
		$dx: 1, 
		$dy: 300px
	)
	
	left calc(-545px + 87%)
	
.neuron-layer.intake-rear
	z-index 30
	parallax(50px)
	
.neuron-layer.intake-rear .left
	parallax-neuron(
		$url: '/images/background/rear-left-blur.png', 
		$side: 'left', 
		$dx: 1, 
		$dy: 200px
	)
	
	left calc(-370px + 37%)
	bottom -75px
	
.neuron-layer.intake-carpet
	z-index 20
	parallax(25px)
	

.neuron-layer.intake-carpet .neuron
	$url = '/images/background/neural-carpet-blur.png'
	parallax-neuron(
		$url: $url,
		$side: 'center', 
		$dx: 1, 
		$dy: 150px
	)

@media only screen and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2)
	.neuron-layer.intake-front .left
		parallax-neuron-mobile("/images/background/front-left-mobile.png")
		left calc(-470px + 25%)
		bottom -150px
		
	.neuron-layer.intake-front .right
		parallax-neuron-mobile("/images/background/front-right-mobile.png")
		left calc(-585px + 75%)
		bottom -110px
		
	.neuron-layer.intake-carpet .neuron
		parallax-neuron-mobile("/images/background/neural-carpet-blur-mobile.png")
		bottom -80px
		left calc(50% - 1000px / 2)
		
	.neuron-layer.intake-rear .left
		parallax-neuron-mobile("/images/background/rear-left-blur-mobile.png")
		left calc(-180px + 8%)
		bottom -45px
	
	.neuron-layer.intake-rear .right
		1

	.neuron-layer.intake-middle
		display none
