@require 'mixins.styl'
@require 'controls.styl'
@require 'colors.styl'
@require 'parallax.styl'

#intake
	top 225%

.registration
	width 100%
	height 100%
	
	center()
	
	margin-bottom 100vh

.registration .field,
.registration .password-meter,
.registration .errormsg
	transition height 100ms, margin 100ms, padding 100ms, border 100ms, opacity 100ms

.registration.one .email,
.registration.one .password,
.registration.one .password-meter
	opacity 0
	height 0
	margin 0
	padding 0
	border 0

.registration .icon
	background-repeat no-repeat
	background-size 15px
	background-position 10px

.registration .username 
	@extend .registration .icon
	background-image url($BASE_URL + "/images/icons/username.svg")

.registration .email 
	@extend .registration .icon
	background-image url($BASE_URL + "/images/icons/email.svg")
	
.registration .password
	@extend .registration .icon
	background-image url($BASE_URL + "/images/icons/password.svg")

.registration .logo 
	width 150px
	height @width

.registration button,
.registration input
	width 150px
	

.registration .location-text
	text-transform uppercase
	color $TEXT_BLUE
	font-size 11px
	font-weight 700
	letter-spacing 1.5px
	
	margin-bottom 10px

div.fb-connect
	@extend div.tertiary
	width 125px
	
	position relative
	left 15px
	
	border-top-left-radius 0px
	border-bottom-left-radius 0px
	box-sizing border-box
	

div.fb-connect::before
	@extend div.tertiary:before
	
	background-image url($BASE_URL + "/images/icons/fb.svg")
	background-repeat no-repeat
	background-position 6px 2px
	background-size 20px

	height 34.5px
	position absolute
	top -0.5px
	left -30px
	
	border 1px solid #3b556a
	border-top-left-radius 15px
	border-bottom-left-radius 15px

	box-sizing border-box


.registration .progress-indicator
	width 10px
	overflow visible
	height 1px
	border-top 1px solid $FILL_BLUE
	position relative
	
.registration .progress-indicator:before,
.registration .progress-indicator:after
	display block
	content " "
	
	height 5px
	width @height
	
	border-radius 100%
	position absolute
	
	background $FILL_BLUE
	border 1px solid $FILL_BLUE
	
	transition background 1s ease-in-out
	
.registration.one .progress-indicator:after
	background transparent
	
.registration .progress-indicator:before
	top -4px
	left -6px
	
.registration .progress-indicator:after
	top -4px
	right -6px
	

.registration .password-meter
	height 20px
	width 135px
	
	margin 5px
	box-sizing border-box
	user-select none
	
.registration .password-meter .bar
	width 100%
	height 1px
	
	background-color rgb(50, 75, 94)

.registration .password-meter .strength
	height 1px
	width 0%
	display block
	background-color rgb(82, 105, 124)

	transition width 200ms ease-in-out
	
.registration .password-meter .label,
.registration .password-meter .rlabel
	font-size 10px
	text-align left
	margin-top 2px
	float left
	
	color $TEXT_BLUE
	
.registration .password-meter .rlabel
	float right
	text-align right
	cursor pointer
	
	transition color 100ms ease-in-out
	
.registration .password-meter .rlabel.showing
	color white
	
.registration .errormsg
	color $ACCENT_YELLOW
	font-size 10px
	text-align left
	
	height 0px
	width 130px
	
	opacity 0
	
.registration .errormsg.error
	line-height 15px
	height auto
	min-height 15px
	opacity 1
	
	

