@require 'mixins.styl'
@require 'controls.styl'
@require 'colors.styl'
@require 'parallax.styl'

#intake
	top: 225%

.registration
	width 100%
	height 100%
	
	center()
	
	margin-bottom 100vh

.registration .field
	transition height 100ms, margin 100ms, padding 100ms, border 100ms, opacity 100ms

.registration.one .email,
.registration.one .password
	opacity 0
	height 0
	margin 0
	padding 0
	border 0

.registration .icon
	background-repeat no-repeat
	background-size 15px
	background-position 10px

.registration .username 
	@extend .registration .icon
	background-image url("/images/icons/username.svg")

.registration .email 
	@extend .registration .icon
	background-image url("/images/icons/email.svg")
	
.registration .password
	@extend .registration .icon
	background-image url("/images/icons/password.svg")

.registration .logo 
	width 150px
	height @width

.registration button,
.registration input
	width 150px
	

.registration .location-text
	text-transform uppercase
	color $TEXT_BLUE
	font-size 11px
	font-weight 600
	letter-spacing 1.5px

.fb-connect
	position relative
	
	padding-left 5%
	box-sizing border-box

.fb-connect::before
	content ""
	height $primary_height
	width 25%

	background-image url("/images/icons/fb.svg")
	background-repeat no-repeat
	background-position 10px 3px
	background-size 20px

	position absolute
	left 0px
	top -1px

	border-right 1px solid $TEXT_BLUE
	border-top-left-radius 15px
	border-bottom-left-radius 15px

	box-sizing border-box


.registration .progress-indicator
	width 15px
	overflow visible
	height 1px
	border-top 1px solid white
	position relative
	
.registration .progress-indicator:before,
.registration .progress-indicator:after
	display block
	content " "
	
	height 10px
	width @height
	
	border-radius 100%
	position absolute
	
	background white
	
.registration .progress-indicator:before
	top -5px
	left -3px
	
.registration .progress-indicator:after
	top -5px
	right -3px
	

	


