// setting width of scrollbar for webkit browsers to 0 so that we don't have wto
// (for non webkit browsers there is a small leftward offset for all items in the page)
::-webkit-scrollbar {
	width: 0px;
}


// always display the scrollbar for elements that scroll and push the scrollbar off the screen
// this prevents having to deal with the width changing on the fly which is especially tricky for perspective
// this is combined with preventing the default scroll behavior in jquery-scrollstart

$estimated_max_scrollbar_width = 20px // the higher the value, the more the perspective is thrown off


#viewport, #explore, .galileo
	overflow-y scroll
	width s('calc(100% + %s)', 2 * $estimated_max_scrollbar_width)
	left -1 * $estimated_max_scrollbar_width

// revert for webkit
@media (-webkit-min-device-pixel-ratio:0)
	#viewport, #explore, .galileo
		width 100%
		left auto
