/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
    background: rgba(27, 27, 27, 0.3);
}

.autoscrolling {
	overflow-y: auto !important;
}

.autoscrolling::-webkit-scrollbar {
	width: 0px;
}
 
/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
 	background: rgba(173, 173, 173, 0.65)   
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(173, 173, 173, 0.25); 
}
