@require 'colors.styl'
@require 'mixins.styl'
@require 'amazing.styl'

.superheroes
	@extend .module-font
	// background-image url('../images/superheroes/layout.jpg')

// $circleRadius = 100px
$circleRadius = 90px

.superheroes .play-now
	height $circleRadius * 2
	width @height
	
	border-radius 100%
	background rgb(254, 231, 156)
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	center()
	
	cursor pointer
	
	font-size 18pt
	color $TEXT_BLUE
	z-index 10

// .superheroes img
// 	height 400px
// 	width @height * 1.333 // aspect ratio of this image
	
// 	center($dy=-25px)
	
.superheroes .story-text
	@extend .galileo .story-text .text.italics
	
	text-transform lowercase

	color $TEXT_BLUE
	text-align center
	white-space nowrap
	
	position absolute
	width 400px
	
	center-horizontal()
	top s('calc(50% + %s + 30px)', $circleRadius)
	
	z-index 11

.superheroes .story-text:before
	top -27px
	font-size 23px

.superheroes .story-text:after
	display none


.superheroes .superhero
	position absolute
	transition all 1s // superpowers!

position-superhero(name, offx, offy, px, py, center = false)

	$url = '/images/superheroes/characters/' + name + '.png'

	height unit(@width / aspect-ratio($url), 'px')

	background-image url($url)
	background-size contain
	background-repeat no-repeat
	
	if center
		left s('calc(50% + %s - %s)', px, @width * (1 - offx))
		top s('calc(50% + %s - %s)', py, @height * (1 - offy))
	else
		left s('calc(%s - %s)', px, @width * (1 - offx))
		top s('calc(%s - %s)', py, @height * (1 - offy))

.superheroes.desktop #SUPERcat
	width 200px
	z-index 15
	position-superhero('cat', 0.5, 0.5, 50%, 50%)
	top s('calc(50% - %s - 68px)', $circleRadius)
	transform scaleX(-1)

.superheroes.desktop #SUPERmod_and_amy
	width 900px
	z-index 10
	position-superhero('mod_and_amy', 0.6, 0.38, 10%, 100%)
	transform rotate(-14deg)

.superheroes.desktop #SUPERmentor
	width 750px
	z-index 10
	position-superhero('mentor', 0.4, 0.35, 90%, 100%)
	transform rotate(-3deg)

.superheroes.desktop #SUPERalex
	width 550px
	z-index 5
	position-superhero('alex', 0.7, 0.5, 7%, 52%)
	transform scaleX(-1)

.superheroes.desktop #SUPERscout_girl
	width 350px
	z-index 3
	position-superhero('scout_girl', 0.65, 0.65, 18%, 22%)
	transform scaleX(-1) rotate(-43deg)
	
.superheroes.desktop #SUPERscout_guy
	width 500px
	z-index 5
	position-superhero('scout_guy', 0.35, 0.55, 88%, 45%)
	transform scaleX(-1) rotate(30deg)

.superheroes.desktop #SUPERscythe_girl
	width 380px
	z-index 3
	position-superhero('scythe_girl', 0.5, 0.5, 77%, 28%)
	transform scaleX(-1) rotate(30deg)


// MOBILE
.superheroes.mobile #SUPERcat
	width 130px
	z-index 20
	position-superhero('cat', 0.5, 0.5, 0px, -100px, true)
	
.superheroes.mobile #SUPERmentor
	display none

.superheroes.mobile #SUPERmod_and_amy
	width 310px
	z-index 5
	position-superhero('mod_and_amy', 0.5, 0.5, -110px, -80px, true)
	transform rotate(-2deg)

.superheroes.mobile #SUPERalex
	width 450px
	z-index 15
	position-superhero('alex', 0.5, 0.5, -215px, 130px, true)

.superheroes.mobile #SUPERscout_girl
	width 450px
	z-index 59
	position-superhero('scout_girl', 0.5, 0.5, 240px, 100px, true)
	transform scaleX(-1) rotate(-16deg)
	
.superheroes.mobile #SUPERscout_guy
	width 280px
	z-index 15
	position-superhero('scout_guy', 0.5, 0.5, 170px, -120px, true)
	transform rotate(-25deg)

.superheroes.mobile #SUPERscythe_girl
	width 300px
	z-index 0
	position-superhero('scythe_girl', 0.6, 0.5, 0px, -154px, true)
	transform rotate(58deg)

.superheroes.mobile .story-text
	@extend .galileo .story-text .text.italics
	
	text-transform lowercase

	color $TEXT_BLUE
	text-align center
	white-space nowrap
	
	position absolute
	width 400px
	
	center-horizontal()
	top s('calc(50% + %s + 100px)', $circleRadius)
	
	z-index 11
