@require 'colors.styl'
@require 'mixins.styl'
@require 'amazing.styl'

.wonderers
	@extend .module-font

$WONDERERS_ASPECT_RATIO = 1.333;

.wonderers img
	height 750px
	width @height * $WONDERERS_ASPECT_RATIO // aspect ratio of this image
	
	transition width 250ms ease
	transition height 250ms ease
	transition left 250ms ease
	transition top 250ms ease
	
.wonderers .story-text
	@extend .amazing .story-text
	
	white-space normal
	
.wonderers .super-text
	@extend .amazing .super-text
	
	
.wonderers .story-text:before
	display none
	
/*
 *	Media Queries
 */

// ---> Small Screen

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 400px), screen and (min-height: 400px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)

	.wonderers img
		height 300px
		width @height * $WONDERERS_ASPECT_RATIO // aspect ratio of this image
		
		center(0px, -25px)


/* ----------- Retina Screens ----------- */
@media screen and (min-width: 400px), screen and (min-height: 400px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)

	.wonderers img
		height 300px
		width @height * $WONDERERS_ASPECT_RATIO // aspect ratio of this image
		
		center(0, 25px)



// ---> Medium Screen

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 750px), screen and (min-height: 700px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	
	.wonderers img
		height 600px
		width @height * $WONDERERS_ASPECT_RATIO // aspect ratio of this image
		
		center(0px, -50px)


/* ----------- Retina Screens ----------- */
@media screen and (min-width: 750px), screen and (min-height: 700px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)

	.wonderers img
		height 600px
		width @height * $WONDERERS_ASPECT_RATIO // aspect ratio of this image
		
		center(0px, -50px)



// ---> Large Screen

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 1500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)

	.wonderers img
		height 800px
		width @height * $WONDERERS_ASPECT_RATIO // aspect ratio of this image
		
		center(0px, -100px)


/* ----------- Retina Screens ----------- */
@media screen and (min-width: 1500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)

	.wonderers img
		height 800px
		width @height * $WONDERERS_ASPECT_RATIO // aspect ratio of this image
		
		center(0px, -100px)
		
		

		
/* ----------- Mobile Media Queries ----------- */

/*
 *	Set to hit an iPhone 6+
 */

@media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)

	.wonderers img
		height 275px
		width @height * $WONDERERS_ASPECT_RATIO // aspect ratio of this image
		
		center(0px, -50px)
		
	.wonderers .super-text
		font-size 18px
		
	.wonderers .story-text
		bottom 25%

			
/*
 *	Set to hit an iPhone 6
 */
			
@media only screen and (max-device-width: 375px) and (min-resolution: 2dppx)

	.wonderers img
		height 250px
		width @height * $WONDERERS_ASPECT_RATIO // aspect ratio of this image
		
		center(0px, -50px)
		
	.wonderers .super-text
		font-size 18px

			
/*
 *	Set to hit an iPhone 5 + 4
 */

@media only screen and (max-device-width: 320px) and (min-resolution: 2dppx)

	.wonderers img
		height 225px
		width @height * $WONDERERS_ASPECT_RATIO // aspect ratio of this image
		
		center(0px, -50px)
		
	.wonderers .super-text
		font-size 18px




	
