@require 'colors.styl'
@require 'mixins.styl'
@require 'amazing.styl'

.wonderers
	@extend .module-font

.wonderers img
	height 750px
	width @height * 1.333 // aspect ratio of this image
	
	transition width 250ms ease
	transition height 250ms ease
	transition left 250ms ease
	transition top 250ms ease
	
.wonderers .story-text
	@extend .amazing .story-text
	
	white-space normal
	
.wonderers .super-text
	@extend .amazing .super-text
	
	
.wonderers .story-text:before
	display none
	

	
/*
 *	Media Queries
 */
 


// ---> Small Screen

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 300px) and (-webkit-min-device-pixel-ratio: 1)

	.wonderers img
		height 600px
		width @height * 1.333 // aspect ratio of this image
		
		center($dy=-25px)


/* ----------- Retina Screens ----------- */
@media screen and (min-width: 300px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)

	.wonderers img
		height 600px
		width @height * 1.333 // aspect ratio of this image
		
		center(0, 25px)



// ---> Medium Screen

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 1000px) and (-webkit-min-device-pixel-ratio: 1)
	
	.wonderers img
		height 700px
		width @height * 1.333 // aspect ratio of this image
		
		center($dy=-50px)


/* ----------- Retina Screens ----------- */
@media screen and (min-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)

	.wonderers img
		height 700px
		width @height * 1.333 // aspect ratio of this image
		
		center($dy=-50px)



// ---> Large Screen

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 1500px) and (-webkit-min-device-pixel-ratio: 1)

	.wonderers img
		height 800px
		width @height * 1.333 // aspect ratio of this image
		
		center($dy=-100px)


/* ----------- Retina Screens ----------- */
@media screen and (min-width: 1500px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)

	.wonderers img
		height 800px
		width @height * 1.333 // aspect ratio of this image
		
		center($dy=-100px)
		
		

		
/* ----------- Mobile Media Queries ----------- */

/*
 *	Set to hit an iPhone 6+
 */

@media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)

	.wonderers img
		height 275px
		width @height * 1.333 // aspect ratio of this image
		
		center($dy=-100px)
		
	.wonderers .super-text
		font-size 18px
		
	.wonderers .story-text
		bottom 25%

			
/*
 *	Set to hit an iPhone 6
 */
			
@media only screen and (max-device-width: 375px) and (min-resolution: 2dppx)

	.wonderers img
		height 250px
		width @height * 1.333 // aspect ratio of this image
		
		center($dy=-100px)
		
	.wonderers .super-text
		font-size 18px

			
/*
 *	Set to hit an iPhone 5 + 4
 */
			
@media only screen and (max-device-width: 320px) and (min-resolution: 2dppx)

	.wonderers img
		height 225px
		width @height * 1.333 // aspect ratio of this image
		
		center($dy=-100px)
		
	.wonderers .super-text
		font-size 18px




	
