<!DOCTYPE html>

<html lang="<%= language %>"> 
<head>
	<title><%= title %></title>
	<meta charset='UTF-8'>
	
	<link href="css/all.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,400,' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="js/all.js"></script> 
</head>
<body>
	<section id="gateway" class="container gateway">
		<script> <% include /components/opening.js %> </script>
		<img class="logo" src="images/ew.png" />
		<div class="logotype"></div>
		<div class="sharing"></div>
		<div class="explorebtn"></div>
	</section> 

	<section class="container">
		
	</section>
	<section id="example" class="container"></section>

 </body>
 </html>