<!DOCTYPE html>

<html lang="<%= language %>"> 
<head>
	<title><%= title %></title>
	<meta charset='UTF-8'>

	<link rel="shortcut icon" sizes="16x16" href="favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" sizes="32x32" href="favicon32x32.png" type="image/png">
	<link rel="shortcut icon" sizes="64x64" href="favicon64x64.png" type="image/png">
	
	<link href="css/all.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="js/all.js"></script> 


</head>
<body>
	<div class="parallax">
		<section class="explore parallax-group">
			<p>Content Here</p>
			<div style="text-align:center"> 
			  <video id="video1" width="420" autoplay>
			    <source src="animations/explore-intro.mp4" type="video/mp4">
			    Your browser does not support HTML5 video.
			  </video>
			</div> 
		</section>
	</div>
 </body>
 </html>